:root {
  --ifm-color-primary: #1f7a8c;
  --ifm-color-primary-dark: #1b6c7c;
  --ifm-color-primary-darker: #196674;
  --ifm-color-primary-darkest: #14545f;
  --ifm-color-primary-light: #23889c;
  --ifm-color-primary-lighter: #2590a5;
  --ifm-color-primary-lightest: #2ca8bf;

  --ifm-code-font-size: 95%;
}

[data-theme='dark'] {
  --ifm-color-primary: #4cc9f0;
  --ifm-color-primary-dark: #32c1ee;
  --ifm-color-primary-darker: #25bdea;
  --ifm-color-primary-darkest: #12a5cf;
  --ifm-color-primary-light: #66d1f2;
  --ifm-color-primary-lighter: #73d5f3;
  --ifm-color-primary-lightest: #99e0f6;
}